.dashboard-container {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.dashboard-container .info-section, .validity-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.dashboard-container .info-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
}

.dashboard-container .info-label {
    color: #253965;
    font-weight: bold;
    font-size: 16px;
}

.info-value {
    color: #333;
    font-weight: 800;
    font-size: 18px;
}

.meals-card {
    background-color: #253965;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    padding: 20px;
    color: white;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.meals-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.meals-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.meals-table th {
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.meals-table td {
    text-align: center;
    padding: 12px 5px;
    font-size: 18px;
    font-weight: bold;
}

.meals-table .row-label {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    width: 40%;
}

.meals-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-bordo {
    background-color: #74222a;
    color: white;
    border: none;
    padding: 12px 15px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    font-size: 14px;
    border-radius: 2px;
}

.validity-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-produce {
    flex: none;
    width: 120px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.btn-bordo:hover{
    background-color: #912d32;
}
.history-section {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
}

.history-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.history-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.history-icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

.history-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.history-type {
  font-weight: bold;
  text-transform: capitalize;
}

.history-time {
  font-size: 0.85rem;
  color: #aaa;
}

.history-status {
  color: #ff4d4d;
  font-weight: bold;
  font-size: 1.1rem;
  
}
.history-list{

}